@using MVCKutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "Kitaplarım";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}
<h2> Kitap Listem</h2>
<!DOCTYPE html>

<html>

<body class="hold-transition sidebar-mini">

    <section class="content">
        
        <div class="container-fluid">

            <div class="row">



                <!-- /.col -->

                <div class="col-md-12">

                    <div class="card">

                        <div class="card-header p-2">



                        </div><!-- /.card-header -->

                        <div class="card-body">



                            <div class="tab-pane" id="timeline">

                                <!-- The timeline -->

                                <div class="timeline timeline-inverse">

                                    @foreach (var i in Model)
                                    {

                                        <div class="time-label">

                                            <a class="btn btn-success">

                                                <span class="bg-success">

                                                    @(((DateTime)i.ALISTARIH).ToString("dd-MMM-yyyy"))

                                                </span>

                                            </a>

                                            -----

                                            <a class="btn btn-warning">

                                                <span class="bg-warning">

                                                    @(((DateTime)i.IADETARIH).ToString("dd-MMM-yyyy"))

                                                </span>

                                            </a>

                                        </div>


                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->

                                        <div>

                                            @*<i class="fas fa-comment bg-primary"></i>*@

                                            <div class="timeline-item">

                                                <div class="timeline-body">

                                                    @i.TBLKITAP.AD - @i.TBLKITAP.TBLYAZAR.AD @i.TBLKITAP.TBLYAZAR.SOYAD

                                                </div>

                                                @*<div class="timeline-footer">

                                                    <a href="#" class="btn btn-primary btn-sm">Düzenle</a>

                                                    <a href="#" class="btn btn-danger btn-sm">Sil</a>

                                                </div>*@

                                            </div>

                                        </div>


                                    }

                                </div>



                            </div>

                        </div>

                    </div><!-- /.card-body -->

                </div>

                <!-- /.nav-tabs-custom -->

            </div>

            <!-- /.col -->

        </div>

    </section>

</body>

</html>