@model MVCKutuphane.Models.Entity.TBLUYELER
@{
    ViewBag.Title = "UyeGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UyeGuncelle", "Uye", FormMethod.Post))
{
    <div style="margin-bottom:25px"></div>
    <div class="form-group">
        @Html.LabelFor(k => k.ID)
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control", @readonly = true })
        <br />
        <label>AD</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
        <br />
        <label>SOYAD</label>
        @Html.TextBoxFor(k => k.SOYAD, new { @class = "form-control" })
        <br />
        <label>MAIL</label>
        @Html.TextBoxFor(k => k.MAIL, new { @class = "form-control" })
        <br />
        <label>KULLANICI ADI</label>
        @Html.TextBoxFor(k => k.KULLANICIADI, new { @class = "form-control" })
        <br />
        <label>ŞİFRE</label>
        @Html.TextBoxFor(k => k.SIFRE, new { @class = "form-control" })
        <br />
        <label>FOTOĞRAF</label>
        @Html.TextBoxFor(k => k.FOTOGRAF, new { @class = "form-control" })
        <br />
        <label>TELEFON</label>
        @Html.TextBoxFor(k => k.TELEFON, new { @class = "form-control" })
        <br />
        <label>OKUL</label>
        @Html.TextBoxFor(k => k.OKUL, new { @class = "form-control" })
        <br />

    </div>
    <div>
        <button class="btn btn-success">Güncelle</button>
    </div>
}
